public/归档/customs_ocr/model-e5/
public/JSON/OCR识别报文/*.json
# 忽略大模型文件
*.bin
*.pth
*.onnx
*.safetensors
*.zip
*.log
/.conda
/.vscode
wzh/rotate/test_results
wzh/rotate/test_results_imagemagick
__pycache__/
*.pyc__pycache__/
*.pyc
